body {
  margin: 0;
  padding: 0;
  background: hsla(175, 87%, 24%, 0.92);
}

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(175, 85%, 10%, 0.92);
}

.peg {
  width: 30px;
  height: 300px;
  background: rgba(236, 231, 231, 0.509);
  position: absolute;
  margin: 40px;
  border-radius: 10%;
}

.disk {
  width: 80px;
  height: 200px;
  background: rgb(211, 35, 35);
  margin: 10px;
  border-radius: 5%;
  position: absolute;

}

/* Font Formatting */
h1, h2, h5 {
  font-family: 'Papyrus';
  color: #7C81EF;
}

h3, button, li, p {
  font-family: 'Arial';
}

a {
  font-family: 'Arial';
  font-style: italic;
  color: #7C81EF;
}

#light-background {
  color: black;
}

/* Background Colors */

#navbar-custom {
  background-color: white;
}

#header {
  background-color: white;
}

/* From Bootstrap */
.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}